**/__pycache__/
*.pyc
*.egg-info/
outputs/
.tmp/
.claude/
.venv/
venv/
build
samples/__pycache__/
samples/*.pyc
samples/*.egg-info/
samples/outputs/
samples/.tmp/
samples/.claude/
samples/.venv/
samples/venv/
samples/build
